body{
    font: 20px 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar{
    background-color: #F39C12;
}
.quem-somos{
    
    background-color: #f5b041 ;
    padding-top: 30px;
    
    
}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.parceiros{
    background-color:#F7B954;
    

}
.bg-footer{
    color: #BA4A00;
   
}
.texto{
    justify-content: center;
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 30px;
    padding-inline-start: 10px;

}
